body {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-home{
    background-image: url("/static/images/book.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 10%;
    margin-left:26%;
    text-align:center;
    width: 50%;
    height: 400px;
}

.btn-outline-primary{
    width:60%;
}

.form-control{
    margin-left:16%;
    width:70%
}
a{
    text-decoration: none;
    color:black;
}